@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Dancing+Script:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
/* CSS Code Go Here */

h1 {
font-family: 'Nabala'!important;
}

body {
    background-color: rgb(40, 40, 43);
    }

button {
background-color: rgb(138, 138, 138);
margin: left 40px; 
margin-right: 60px;
font-size: 10px;
padding: 25px;
font-family: 'Nabala' !important;
shape-margin: 10x;
font color white;

}

linearGradient {
    font-family: '' !important;

}

img {
    width: 400px;
    height: auto;
    margin-top: 20px;
    
}

img {
    width: 400px;
    height: auto;
    margin-top: 20px;

}

p {
    font-family: 'Dancing Script', !important;
margin-left: 200px;
margin-right: 100px;
margin-block-end: auto;
font-size: 20px;
padding: 10px;

}

.sidebar {
    margin: 0;
    padding: 0;
    width: 100px;
    background-color: #9c9c9c;
    position: fixed;
    height: 30%;
    overflow: auto;
  }
  
  /* Sidebar links */
  .sidebar a {
    display: block;
    color: rgb(9, 8, 8);
    padding: 16px;
    text-decoration: 'Nabala';
  }
  
  /* Active/current link */
  .sidebar a.active {
    background-color: #000000;
    color: rgb(103, 99, 99);
  }
  
  /* Links on mouse-over */
  .sidebar a:hover:not(.active) {
    background-color: rgb(0, 0, 0);
    color: rgb(224, 224, 224);
  }
  
  /* Page content. The value of the margin-left property should match the value of the sidebar's width property */
  div.content {
    margin-left: 20px;
    padding: 1px 16px;
    height: 8px;
  }
  
  /* On screens that are less than 700px wide, make the sidebar into a topbar */
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  /* On screens that are less than 400px, display the bar vertically, instead of horizontally */
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
        .section-header-title {
          display:inline-block;
          margin:right;
          padding: 5px 20px; 
          text-align:center;
          color: #fff;
          box-sizing: border-box;
        }